:host {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.last-msg-text {
  width: 250px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}

.friend-avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.friend {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-width: 900px;
  margin: auto;
}

.content {
  flex-basis: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.name {
  font-size: 20px;
}

.buttons {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}