<div class="header">
  <div class="header__avatar-container">
    <div class="header__avatar" [style.backgroundImage]="avatarStyle">
    </div>
    <button *ngIf="isCurrentUser" class="header__avatar-button" (click)="loadAvatar()" color="primary" mat-raised-button>Редактировать</button>
    <button *ngIf="!isCurrentUser" class="header__avatar-button" (click)="toggleFriend()" color="primary" mat-raised-button>{{ getFriendButtonText() }}</button>
    <button *ngIf="!isCurrentUser" class="header__avatar-button" (click)="navigateToDialog()" color="primary" mat-raised-button>Написать</button>
  </div>
  <div class="header__info">
    <div class="header__title">
      <div class="header__name">
        {{ user.firstName }} {{ user.secondName }}
      </div>
      <div class="header__status">
        {{ user.status }}
      </div>
    </div>

    <div class="header__details">
      <div class="info-row">
        <div class="info-row__label">
          Город:
        </div>
        <div class="info-row__value">
          {{ user.city }}
        </div>
      </div>

      <div class="info-row">
        <div class="info-row__label">
          Дата рождения:
        </div>
        <div class="info-row__value">
          {{ user.birth | date:'shortDate'}}
        </div>
      </div>
    </div>
  </div>
</div>
<input #fileInput type="file" [ngStyle]=" { 'display':'none' }" name="avatar" (change)="onFileChange($event)" />